@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#root {
  max-width: 425px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #c2bfbf;
  padding: 1rem 0.5rem;
}
@media (min-width: 425px) {
  #root {
    border-radius: 40px;
    box-shadow: 0 0 10px #000;
    min-height: 90vh;
  }
}
